**Step 1: Import the necessary libraries**

In [106]:
#%pip install pandas
#%pip install matplotlib
#%pip install seaborn
#%pip install numpy
#%pip install scikit-learn
# %pip install pyodbc  
# %pip install python-dotenv

**Step 2: Connect to the Microsoft SQL Server database and retrieve data for 2020 and 2021**

In [107]:
import pyodbc      
from dotenv import dotenv_values   
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [108]:
# Imported the dotenv_values function from the dotenv package
from dotenv import dotenv_values

# Loaded the environment variables from the .env file into a dictionary
environment_variables = dotenv_values('.env')

# I used the values for the credentials I set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

# I then constructed the connection string for SQL Server
connection_string = (
    f"DRIVER={{SQL Server}};SERVER={server};"
    f"DATABASE={database};UID={username};PWD={password};MARS_Connection=yes"
)

# After this, I used the 'connection_string' to connect to the SQL Server
connection = pyodbc.connect(connection_string)

**Step 3: Load data for 2020 and 2021**

In [109]:
query = "Select * from LP1_startup_funding2020"

df_2020 = pd.read_sql(query, connection)

query = "Select * from LP1_startup_funding2021"

df_2021 = pd.read_sql(query, connection)

**Step 4: Load the data for 2019 from the OneDrive link**

*We tried to load the dataset from the onedrive directly using the link, but unfortunately, what we tried gave us some errors so we used the link to get the CSV file root folder by downloading it from our web browser using the link provided and then moved the csv file to the Project Folder. From there, we used the file path method to locate the File and the loaded it using the pandas library.*

In [110]:
import pandas as pd

# I specified the full file path
file_path = "C:/Users/IddieGod/Desktop/MY-LP1-PROJECT/startup_funding2019.csv"

# And then I used pandas to read the CSV file
df_2019 = pd.read_csv(file_path)

# Now, df_2019 contains the data from the 2019 CSV file

**Step 5: Load the data for 2018 from the GitHub repository**

In [111]:
import pandas as pd

# Provide the URL to the GitHub CSV file
github_url = "https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv"

# Use pandas to read the CSV file
df_2018 = pd.read_csv(github_url)

# Now, df_2018 contains the data from the 2018 CSV file

**Step 6: Clean the data
Cleaning the data involves handling missing values, removing duplicates, and standardizing the data format.**

*Cleaning for df_2018*

In [112]:
# Check for missing values in df_2018
missing_values_2018 = df_2018.isnull().sum()

print("Missing Values in df_2018:")
print(missing_values_2018)

Missing Values in df_2018:
Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [113]:
print(df_2018.info())
print(df_2018.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB
None
      Company Name                                           Industry  \
0  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...
1  Happy Cow Dairy                               Agriculture, Farming
2       MyLoanCare   Credit, Financial Services, Lending, Marketplace
3      PayMe India                        Financial Services, FinTech
4         Eunimart                 E-Commerce Platforms, Retail, SaaS

  Round/Series       Amount                          Location  \
0         Seed       250000       Bangalore, Karnataka, India
1         Seed  ₹40,000,000        Mumbai, Maharashtra, India
2     Series A  ₹65,000,000           Gurgaon, Haryana, India
3        Angel      2000000       Noida, Uttar Pradesh, India
4         Seed            —  Hyderabad, Andhra Pradesh, India

                                       About Company
0  TheCollegeFever is a hub for fun, fiesta and f...
1  A startup which aggregates milk from dairy far...
2          Leading Online Loans Marketplace in India
3  PayMe India is an innovative FinTech organizat...
4  Eunimart is a one stop solution for merchants ...

In [114]:
# Check for duplicates in df_2018
duplicates_2018 = df_2018[df_2018.duplicated()]
print("Duplicate rows in df_2018:")
print(duplicates_2018)

# Remove duplicates in df_2018
df_2018 = df_2018.drop_duplicates()

Duplicate rows in df_2018:
        Company Name                                           Industry  \
348  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...

    Round/Series  Amount                     Location  \
348         Seed  250000  Bangalore, Karnataka, India

                                         About Company
348  TheCollegeFever is a hub for fun, fiesta and f...

In [115]:
import re

# Remove all non-numeric characters from the 'Amount' column
df_2018['Amount'] = df_2018['Amount'].apply(lambda x: re.sub(r'[^0-9]', '', x))

# Convert 'Amount' column to numeric
df_2018['Amount'] = pd.to_numeric(df_2018['Amount'])

The code uses the re.sub function from the re module to remove any characters that are not digits (0-9) from each element in the 'Amount' column. It then converts the cleaned 'Amount' column to numeric. This approach ensures that all non-numeric characters, regardless of their type, are removed.

In [116]:
print(df_2018.info())
print(df_2018.head())

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       525 non-null    object
 2   Round/Series   525 non-null    object
 3   Amount         377 non-null    float64
 4   Location       525 non-null    object
 5   About Company  525 non-null    object
dtypes: float64(1), object(5)
memory usage: 28.7+ KB
None
      Company Name                                           Industry  \
0  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...
1  Happy Cow Dairy                               Agriculture, Farming
2       MyLoanCare   Credit, Financial Services, Lending, Marketplace
3      PayMe India                        Financial Services, FinTech
4         Eunimart                 E-Commerce Platforms, Retail, SaaS

  Round/Series      Amount                          Location  \
0         Seed    250000.0       Bangalore, Karnataka, India
1         Seed  40000000.0        Mumbai, Maharashtra, India
2     Series A  65000000.0           Gurgaon, Haryana, India
3        Angel   2000000.0       Noida, Uttar Pradesh, India
4         Seed         NaN  Hyderabad, Andhra Pradesh, India

                                       About Company
0  TheCollegeFever is a hub for fun, fiesta and f...
1  A startup which aggregates milk from dairy far...
2          Leading Online Loans Marketplace in India
3  PayMe India is an innovative FinTech organizat...
4  Eunimart is a one stop solution for merchants ...

*Amount column after convertion to numeric datatype now has missing values. To fill the missing data, we used the MICE (Multiple Imputation by Chained Equations) method which is a useful method for imputing missing values in multiple columns, especially when there is a complex relationship between the columns. We did not use fill.na of means/median as Mean imputation is sensitive to outliers and may not be a good representation of the central tendency of the data. Similarly to the mean, the median also may not better represent the central tendency.
Median imputation makes the assumption that the data is missing completely at random (MCAR), which is not always true.*

*cleaning the missing values in the amount column of df_2018*

In [117]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\iddiegod\appdata\roaming\python\python312\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\iddiegod\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\iddiegod\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\iddiegod\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\iddiegod\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [118]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import pandas as pd

# List of numeric columns to impute
numeric_columns = ['Amount']

# Perform imputation on the numeric columns
imputer = IterativeImputer(max_iter=10, random_state=0)
numeric_imputed = imputer.fit_transform(df_2018[numeric_columns])

# Convert the result back to a DataFrame with the same index
numeric_imputed_df = pd.DataFrame(numeric_imputed, columns=numeric_columns, index=df_2018.index)

# Combine the imputed numeric columns with the non-numeric columns
df_2018_imputed = pd.concat([numeric_imputed_df, df_2018.drop(numeric_columns, axis=1)], axis=1)


### Data Imputation method


1. **List of Numeric Columns**: We start by defining a list of column names that are numeric and need imputation. In this case, we only have one numeric column, which is 'Amount'.

   ```python
   numeric_columns = ['Amount']
   ```

2. **Imputation on Numeric Columns**:
   - We create an `IterativeImputer` object to perform the imputation. It iteratively imputes missing values in numeric columns based on the values in other columns.
   - `max_iter` specifies the maximum number of imputation iterations, and `random_state` ensures reproducibility.

   ```python
   imputer = IterativeImputer(max_iter=10, random_state=0)
   ```

3. **Perform Imputation**:
   - We perform the imputation specifically on the numeric columns defined in the `numeric_columns` list. The imputer calculates missing values for the 'Amount' column.

   ```python
   numeric_imputed = imputer.fit_transform(df_2018[numeric_columns])
   ```

4. **Convert Imputed Numeric Values to DataFrame**:
   - We convert the imputed numeric values back into a DataFrame. This new DataFrame retains the same index as the original DataFrame.

   ```python
   numeric_imputed_df = pd.DataFrame(numeric_imputed, columns=numeric_columns, index=df_2018.index)
   ```

5. **Combine Imputed Numeric and Non-Numeric Columns**:
   - We combine the imputed numeric DataFrame (`numeric_imputed_df`) with the non-numeric columns. The non-numeric columns are obtained by dropping the 'Amount' column from the original DataFrame.

   ```python
   df_2018_imputed = pd.concat([numeric_imputed_df, df_2018.drop(numeric_columns, axis=1)], axis=1)
   ```

   This step ensures that `df_2018_imputed` contains both the imputed 'Amount' column and the other columns in their original string format.

Now, you have a DataFrame (`df_2018_imputed`) with the imputed numeric column and all the other non-numeric columns, allowing you to proceed with your analysis while preserving the original data types for the non-numeric columns.

In [119]:
# Check for missing values in df_2018
missing_values_2018 = df_2018_imputed.isnull().sum()

print("Missing Values in df_2018:")
print(missing_values_2018)

Missing Values in df_2018:
Amount           0
Company Name     0
Industry         0
Round/Series     0
Location         0
About Company    0
dtype: int64

*Cleaning data for df_2019*

In [120]:
print(df_2019.info())
print(df_2019.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB
None
    Company/Brand  Founded HeadQuarter           Sector  \
0  Bombay Shaving      NaN         NaN        Ecommerce
1       Ruangguru   2014.0      Mumbai           Edtech
2        Eduisfun      NaN      Mumbai           Edtech
3        HomeLane   2014.0     Chennai  Interior design
4        Nu Genes   2004.0   Telangana         AgriTech

                                        What it does  \
0         Provides a range of male grooming products
1  A learning platform that provides topic-based ...
2            It aims to make learning fun via games.
3              Provides interior designing solutions
4  It is a seed company engaged in production, pr...

                                Founders  \
0                     Shantanu Deshpande
1  Adamas Belva Syah Devara, Iman Usman.
2                          Jatin Solanki
3           Srikanth Iyer, Rama Harinath
4                 Narayana Reddy Punyala

                                            Investor     Amount($)  \
0                               Sixth Sense Ventures    $6,300,000
1                                   General Atlantic  $150,000,000
2     Deepak Parekh, Amitabh Bachchan, Piyush Pandey   $28,000,000
3  Evolvence India Fund (EIF), Pidilite Group, FJ...   $30,000,000
4           Innovation in Food and Agriculture (IFA)    $6,000,000

           Stage
0            NaN
1       Series C
2  Fresh funding
3       Series D
4            NaN

In [121]:
# Access and display the 'Amount' column in df_2019 
#to check if there are non-numeric values within
amount_column_2019 = df_2019['Amount($)']
print(amount_column_2019)

0       $6,300,000
1     $150,000,000
2      $28,000,000
3      $30,000,000
4       $6,000,000
          ...
84     $20,000,000
85    $693,000,000
86      $5,000,000
87     $50,000,000
88     $33,000,000
Name: Amount($), Length: 89, dtype: object

In [122]:
# Check for missing values in df_2019
missing_values_2019 = df_2019.isnull().sum()

print("Missing Values in df_2019:")
print(missing_values_2019)

Missing Values in df_2019:
Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

*Handling missing values in df_2019*

In [123]:

# Handle missing values in 'HeadQuarter' column by filling with 'Unknown' or another appropriate value
df_2019['HeadQuarter'].fillna('Unknown', inplace=True)

# Handle missing values in 'Sector' column by filling with 'Unknown' or another appropriate category
df_2019['Sector'].fillna('Unknown', inplace=True)

# Handle missing values in 'Founders' column by filling with 'Unknown' or another appropriate value
df_2019['Founders'].fillna('Unknown', inplace=True)

# Handle missing values in 'Stage' column by filling with 'Unknown' or another appropriate category
df_2019['Stage'].fillna('Unknown', inplace=True)

In [124]:
#Handling missing values in 'Founded' column and replacing them with NaT(Not a Time)

import numpy as np

# Replace NaN values with pd.NaT to represent missing values
df_2019['Founded'] = df_2019['Founded'].replace({np.nan: pd.NaT})

# Convert 'Founded' to datetime (pd.NaT is recognized as a missing value)
df_2019['Founded'] = pd.to_datetime(df_2019['Founded'])

In [125]:
import re

# Remove all non-numeric characters from the 'Amount' column in df_2019
df_2019['Amount($)'] = df_2019['Amount($)'].apply(lambda x: re.sub(r'[^0-9]', '', x))

# Convert 'Amount' column to numeric
df_2019['Amount($)'] = pd.to_numeric(df_2019['Amount($)'])

In [126]:
# Verifying that missing values have been handled
missing_values = df_2019.isnull().sum()
print("Missing Values in df_2019:")
print(missing_values)

Missing Values in df_2019:
Company/Brand     0
Founded          29
HeadQuarter       0
Sector            0
What it does      0
Founders          0
Investor          0
Amount($)        12
Stage             0
dtype: int64

In [130]:
founded_column = df_2019['Founded']
print(founded_column)

0                              NaT
1    1970-01-01 00:00:00.000002014
2                              NaT
3    1970-01-01 00:00:00.000002014
4    1970-01-01 00:00:00.000002004
                  ...
84                             NaT
85   1970-01-01 00:00:00.000002013
86   1970-01-01 00:00:00.000002016
87   1970-01-01 00:00:00.000002015
88                             NaT
Name: Founded, Length: 89, dtype: datetime64[ns]

*checking for duplicates in df_2019*

In [127]:
# Check for duplicates in df_2019
duplicates_2019 = df_2019[df_2019.duplicated()]
print("Duplicate rows in df_2019:")
print(duplicates_2019)

# Remove duplicates in df_2019
df_2019 = df_2019.drop_duplicates()

Duplicate rows in df_2019:
Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []

In [128]:
print(df_2019.info())
print(df_2019.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     datetime64[ns]
 2   HeadQuarter    89 non-null     object
 3   Sector         89 non-null     object
 4   What it does   89 non-null     object
 5   Founders       89 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      77 non-null     float64
 8   Stage          89 non-null     object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 6.4+ KB
None
    Company/Brand                       Founded HeadQuarter           Sector  \
0  Bombay Shaving                           NaT     Unknown        Ecommerce
1       Ruangguru 1970-01-01 00:00:00.000002014      Mumbai           Edtech
2        Eduisfun                           NaT      Mumbai           Edtech
3        HomeLane 1970-01-01 00:00:00.000002014     Chennai  Interior design
4        Nu Genes 1970-01-01 00:00:00.000002004   Telangana         AgriTech

                                        What it does  \
0         Provides a range of male grooming products
1  A learning platform that provides topic-based ...
2            It aims to make learning fun via games.
3              Provides interior designing solutions
4  It is a seed company engaged in production, pr...

                                Founders  \
0                     Shantanu Deshpande
1  Adamas Belva Syah Devara, Iman Usman.
2                          Jatin Solanki
3           Srikanth Iyer, Rama Harinath
4                 Narayana Reddy Punyala

                                            Investor    Amount($)  \
0                               Sixth Sense Ventures    6300000.0
1                                   General Atlantic  150000000.0
2     Deepak Parekh, Amitabh Bachchan, Piyush Pandey   28000000.0
3  Evolvence India Fund (EIF), Pidilite Group, FJ...   30000000.0
4           Innovation in Food and Agriculture (IFA)    6000000.0

           Stage
0        Unknown
1       Series C
2  Fresh funding
3       Series D
4        Unknown

*cleaning the missing values in the amount column of df_2019 using MICE method*

In [131]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import pandas as pd

# List of numeric columns to impute
numeric_columns = ['Amount($)']  

# Perform imputation on the numeric columns in df_2019
imputer = IterativeImputer(max_iter=10, random_state=0)
numeric_imputed = imputer.fit_transform(df_2019[numeric_columns])

# Convert the result back to a DataFrame with the same index
numeric_imputed_df = pd.DataFrame(numeric_imputed, columns=numeric_columns, index=df_2019.index)

# Combine the imputed numeric columns with the non-numeric columns
df_2019_imputed = pd.concat([numeric_imputed_df, df_2019.drop(numeric_columns, axis=1)], axis=1)

In [132]:
print(df_2019_imputed)

      Amount($)    Company/Brand                       Founded HeadQuarter  \
0     6300000.0   Bombay Shaving                           NaT     Unknown
1   150000000.0        Ruangguru 1970-01-01 00:00:00.000002014      Mumbai
2    28000000.0         Eduisfun                           NaT      Mumbai
3    30000000.0         HomeLane 1970-01-01 00:00:00.000002014     Chennai
4     6000000.0         Nu Genes 1970-01-01 00:00:00.000002004   Telangana
..          ...              ...                           ...         ...
84   20000000.0     Infra.Market                           NaT      Mumbai
85  693000000.0              Oyo 1970-01-01 00:00:00.000002013    Gurugram
86    5000000.0       GoMechanic 1970-01-01 00:00:00.000002016       Delhi
87   50000000.0           Spinny 1970-01-01 00:00:00.000002015       Delhi
88   33000000.0  Ess Kay Fincorp                           NaT   Rajasthan

                     Sector  \
0                 Ecommerce
1                    Edtech
2                    Edtech
3           Interior design
4                  AgriTech
..                      ...
84                Infratech
85              Hospitality
86  Automobile & Technology
87               Automobile
88                  Banking

                                         What it does  \
0          Provides a range of male grooming products
1   A learning platform that provides topic-based ...
2             It aims to make learning fun via games.
3               Provides interior designing solutions
4   It is a seed company engaged in production, pr...
..                                                ...
84  It connects client requirements to their suppl...
85                Provides rooms for comfortable stay
86  Find automobile repair and maintenance service...
87                                Online car retailer
88              Organised Non-Banking Finance Company

                                             Founders  \
0                                  Shantanu Deshpande
1               Adamas Belva Syah Devara, Iman Usman.
2                                       Jatin Solanki
3                        Srikanth Iyer, Rama Harinath
4                              Narayana Reddy Punyala
..                                                ...
84                    Aaditya Sharda, Souvik Sengupta
85                                     Ritesh Agarwal
86  Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...
87  Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...
88                                     Rajendra Setia

                                             Investor          Stage
0                                Sixth Sense Ventures        Unknown
1                                    General Atlantic       Series C
2      Deepak Parekh, Amitabh Bachchan, Piyush Pandey  Fresh funding
3   Evolvence India Fund (EIF), Pidilite Group, FJ...       Series D
4            Innovation in Food and Agriculture (IFA)        Unknown
..                                                ...            ...
84  Tiger Global, Nexus Venture Partners, Accel Pa...       Series A
85  MyPreferred Transformation, Avendus Finance, S...        Unknown
86                                    Sequoia Capital       Series B
87  Norwest Venture Partners, General Catalyst, Fu...        Unknown
88     TPG, Norwest Venture Partners, Evolvence India        Unknown

[89 rows x 9 columns]

In [133]:
# Verifying that missing values have been handled
missing_values = df_2019_imputed.isnull().sum()
print("Missing Values in df_2019:")
print(missing_values)

Missing Values in df_2019:
Amount($)         0
Company/Brand     0
Founded          29
HeadQuarter       0
Sector            0
What it does      0
Founders          0
Investor          0
Stage             0
dtype: int64

When we viewed the 'Founded' column, you might have noticed that it still shows missing values represented as 'NaN' even after we filled the missing values with 'NaT' (Not a Timestamp). This may seem counterintuitive, but it's because 'NaT' is not recognized as a missing value in Pandas' datetime format. Instead, 'NaT' is used to indicate missing or undefined values in datetime columns.

Even though Pandas displays 'NaT' as a special representation for missing datetime values when you view the column, it doesn't change the underlying missing value status of those entries. The column is still considered to have missing values, and it's displayed as such in the column's information.

In other words, while 'NaN' is what you see, it's the 'NaT' values that are functioning as placeholders for missing dates in the 'Founded' column. This is the expected behavior when working with missing datetime values in Pandas.

*Cleaning data for df_2020*